extends ./layout.jade

block styles
    link(href='bower_components/font-awesome/css/font-awesome.css' rel='stylesheet')
    link(href='style.css' rel='stylesheet')
    link(href='card.css' rel='stylesheet')

block content
    for artist in artists
        div.card
            div.img
                img.cover(src='#{artist.cover}' data-initialize-card='#{artist.cover}')
                div.shadow
            div.list
                ul.content
                    for song in artist.songs
                        li.item
                            div.header
                                div.profile
                                    img.avatar(src='#{artist.avatar}')
                                    span.display Drake
                                div.date
                                    span 19d
                                    span.action-alt
                                        i.fa.fa-angle-down
                            .body
                                img(src='#{song.cover}')
                                .title
                                    big= song.title
                                    br
                                    small Drake
                                .action
                                    i.action-button.fa.fa-play-circle(onclick='playDrake(#{JSON.stringify(song)}, event)')
                            .stats
                                .numbers
                                    i.fa.fa-heart-o
                                    |  #{song.likes_count}
                                .numbers
                                    i.fa.fa-comment-o
                                    |  #{song.comments_count}
                                .numbers
                                    i.fa.fa-share-alt
                                    |  #{song.shares_count}

block scripts
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/color-thief/src/color-thief.js')
    script(src='../script.js')
